  <p>
    <%= f.label :region_id %><br />
    <%= f.collection_select :region_id, Region.enabled.all, :id, :name  %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %> (no spaces please)
  </p>
  <!-- p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p -->
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %> (please include the channel title in the keywords)
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.label :system %><br />
    <%= f.check_box :system %>
  </p>
  <!-- p>
    Please only mark one channel as the popular item channel. Make sure you have created an empty feed for it.
  </p>
  <p>
    <%= f.label :popular %><br />
    <%= f.check_box :popular %>
  </p -->
