<h1>Listing channels</h1>

<table class="index">
  <tr>
    <th>Title</th>
    <th>Region</th>
    <th>Active</th>
    <th>System</th>
  </tr>

<% for channel in @channels %>
  <tr>
    <td width="180px"><%= link_to channel.title, edit_channel_path(channel) %></td>
    <td><%=h channel.region.name %></td>
    <td><%=h channel.active %></td>
    <td><%=h channel.system %></td>
    <td><%= link_to 'Destroy', channel, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New channel', new_channel_path %>
