<p>
  <b>Title:</b>
  <%=h @channel.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%=h @channel.subtitle %>
</p>

<p>
  <b>Keywords:</b>
  <%=h @channel.keywords %>
</p>

<p>
  <b>Active:</b>
  <%=h @channel.active %>
</p>

<p>
  <%=h @channel.description %>
</p>

<table>
  <% for feed in @channel.feeds %>
    <tr>
      <td valign="top">
        <%=link_to feed.title, feed %><br/>
        <%=h feed.feed_url %></td>
      <td valign="top"><%= link_to 'Show', feed %></td>
      <td valign="top"><%= link_to 'Edit', edit_feed_path(feed) %></td>
      <td valign="top"><%= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  <% if @channel.feeds.blank? %>
    <tr><td colspan="4">There are no feeds for this channel. <%=link_to 'Add one', new_feed_path(:channel_id => @channel.id) %></td></tr>
  <% end %>
</table>

<div style="border-top:1px dotted silver;padding-top:10px;margin-top:10px;">
<%= link_to 'Edit Channel', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
</div>
