<h1>Listing Messages</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Number</th>
  </tr>
  <%- @messages.each do |message|%>
    <tr>
      <td><%=h message.message %></td>
      <td><%=h message.number %></td>
    
      <td><%=link_to 'Show', object_url(message) %></td>
      <td><%=link_to 'Edit', edit_object_url(message) %></td>
      <td><%=link_to 'Destroy', object_url(message), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'New message', new_object_url %>