<h1>Listing feeds</h1>

<table class="index">
  <tr>
    <th>Title</th>
    <th>Channel</th>
    <th>Region</th>
  </tr>

<% for feed in @feeds %>
  <tr>
    <td width="180px"><%=h feed.title %></td>
    <td><%=h feed.channel.title rescue 'Channel missing' %></td>
    <td><%=h feed.channel.region.name rescue 'Region missing' %></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feed', new_feed_path %>
