  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript">
    function update() {
      var content = $('#entry_content');
      var summary = $('#entry_summary');
      var title = $('#entry_title');
      length = (content.val() || '').length;
      if (summary.val() && summary.val().length > 0)
        length += summary.val().length + 1;
      if (title.val() && title.val().length > 0) 
        length += title.val().length + 3;
      $('#counter').text("" + (160 - length) + " characters remaining");
      $('#counter').css("color", (160 - length > 0) ? "green" : "red");
    }

    $(document).ready(function() {
      $('#entry_title').keyup(function(i) { update(); return true; });
      $('#entry_content').keyup(function(i) { update(); return true; });
      $('#entry_summary').keyup(function(i) { update(); return true; });
      update();
    });
  </script>

  <p>
    <%= f.label :feed_id, 'Feed' %><br />
    <select name="entry[feed_id]" id="entry_feed_id">    
      <%= options_from_collection_for_select(Feed.all, :id, :title, params[:feed_id])  %>
    </select>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %> (not required, if included will be enclosed in quotes)
  </p>
  <!-- p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p -->
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %> (not required, not currently included in message)
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_field :summary %> (not required)
  </p>
  <p>
    <div id="counter" name="counter" style="float:right;padding-right:10%;"></div>
    <%= f.label :content %><br />
    <%= f.text_area :content, :style => 'height:40px;width:90%'%>
  </p>
  <p>
    <%= f.label :published_at %><br />
    <%= f.datetime_select :published_at %> (time where gateway is located)
  </p>