<div>
  <%= link_to 'New Entry', new_entry_path %>
</div>

<form method="GET">
  <p>
    <%= label_tag :feed_id, 'Feed' %><br />
    <select name="feed_id" id="feed_id">
      <option value=''>No feed selected</option>
      <%= options_from_collection_for_select(Feed.all, :id, :title, params[:feed_id])  %>
    </select>
    <%= submit_tag "Filter" %>
  </p>
</form>

<div style="border-top:1px dotted silver">
  <ul class="entries">
    <% @entries.each do |entry| %>
      <li class="<%= cycle("even","odd") -%>" >
        <p><%= link_to entry.id, entry %>: <%=h entry.messaage %><br/>
           <%= link_to entry.published_at entry %></p>
      </li>
    <% end %>
    <% if @entries.blank? %>
      <li>There are no entries available.</li>
    <% end %>
  </ul>  
  <%= will_paginate @entries %>
  <div style="float:right;padding-bottom:10px;">
    <%= link_to 'New Entry', new_entry_path %>
  </div>
</div>
