<h2><%=link_to @entry.title, @entry.url %></h2>
<div>by <%=h @entry.author %></div>
<% unless @entry.summary.blank? %>
<blockquote>
  <%=h @entry.summary %>
</blockquote>
<% end %>
<p>
  <%=h @entry.content %>
</p>

<p>
  <b>Categories:</b>
  <%=h @entry.categories %>
</p>
<p>
  <b>Published:</b>
  <%=h @entry.published_at %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
