<%= form.error_messages %>
<p>
  <%= form.label :active %>
  <%= form.check_box :active %>
</p>
<p>
  <%= form.label :number_confirmed %>
  <%= form.check_box :number_confirmed %>
</p>
<p>
  <%= form.label :email_confirmed %>
  <%= form.check_box :email_confirmed %>
</p>
<div class="text_field">
  <%= form.label :number %>
  <%= form.text_field :number %>
</div>
<div class="text_field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>
<div class="text_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="text_field">
  <%= form.label :address %>
  <%= form.text_field :address %>
</div>
<div class="text_field">
  <%= form.label :provider %>
  <%= form.text_field :provider %>
</div>
<p>
  <%= form.label :prepaid %>
  <%= form.check_box :prepaid %>
</p>
<div class="text_field">
  <%= form.label :details %>
  <%= form.text_field :details %>
</div>
<br />
<div class="text_field">
  <%= form.label :timezone_offset %>
  <%= form.text_field :timezone_offset %>
</div>
<div class="text_field">
  <%= form.label :awake %>
  <%= form.text_field :awake %>
</div>
<div class="text_field">
  <%= form.label :sleep %>
  <%= form.text_field :sleep %>
</div>
<div class="text_field">
  <%= form.label :locale %>
  <%= form.text_field :locale %>
</div>
<div class="text_field">
  <label for="user_gateway_id">Gateway</label>
  <select name="user[gateway_id]" id="user_gateway_id">
    <%= options_from_collection_for_select Gateway.all, :id, :number, @user.gateway.id rescue nil %> 
  </select>
</div>



<br/>
<p>Only fill in thes fields if you would like to modify the website password:</p>
<div class="password_field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
<div class="password_field">
  <%= form.label :password_confirmation, "Verify password" %>
  <%= form.password_field :password_confirmation %>
</div>