<style type="text/css">
  .statistic {
    padding:8px;
    width:184px;
    float:left;
    border-bottom:1px dotted #AAAAAA;
  }
  .number {
    color:#AAAAAA;
    font-size:2em;
    font-weight:normal;
    padding-bottom:5px;
    border-bottom:1px dotted #AAAAAA;
  }
  .legend {
    color:maroon;  
  }
</style>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript">
  function update() {
    var content = $('#message');
    length = (content.val() || '').length;
    $('#counter').text("" + (160 - length) + " characters remaining");
    $('#counter').css("color", (160 - length > 0) ? "green" : "red");
  }

  $(document).ready(function() {
    $('#message').keyup(function(i) { update(); return true; });
    update();
  });
</script>


<h2>User messages</h2>
<div style="width:96%;padding:10px">
  <div class="statistic">
    <div class="number"><%= @to_user %></div>
    <div class="legend">Messages Delivered</div>
  </div>
  <div class="statistic">
    <div class="number"><%= @from_user %></div>
    <div class="legend">Messages From User</div>
  </div>
  <div class="statistic">
    <div class="number"><%= @ratings %></div>
    <div class="legend">Articles Rated</div>
  </div>
  <div style="clear:both;float:none"></div>
  <br/>
  <% form_tag tell_user_path(@user), :method => :post do %>
    <div id="counter" name="counter" style="float:right;padding-right:4%;"></div>
    <label for="message">Send a message to the user</label><br/>
    <textarea name="message" style="width:96%" id="message"><%= params[:message] %></textarea><br>
    <%= submit_tag "Send" %>
  <% end %>
  
</div>

<h2>User information</h2>

<% form_for @user do |form| %>
  <p>
    <%= form.label :active %>
    <%= form.check_box :active %>
  </p>
  <p>
    <%= form.label :number_confirmed %>
    <%= form.check_box :number_confirmed %>
  </p>
  <p>
    <%= form.label :email_confirmed %>
    <%= form.check_box :email_confirmed %>
  </p>

  <%= render :partial => '/users/form', :object => form %>
  <br/>
  <%= form.submit 'Update', :disable_with => 'Please wait...' %>
<% end %>
