
<h1>Users</h1>

<% form_tag "/users/invite", :method => "POST" do %>
  <label for="invite">Send an invite to:</label><br/>
  <input type="text" name="invite" value="<%= params[:invite] %>" />
  <label for="gateway">Gateway: </label>
  <select name="gateway">
    <%= options_from_collection_for_select Gateway.all, :id, :number %> 
  </select>
  <%= submit_tag "Invite" %>
<% end %>
<br/>

<% form_tag "/users/register", :method => "POST" do %>
  <label for="register">Register (no confirm):</label><br/>
  <input type="text" name="register" value="<%= params[:register] %>" />
  <label for="gateway">Gateway: </label>
  <select name="gateway">
    <%= options_from_collection_for_select Gateway.all, :id, :number %> 
  </select>
  <%= submit_tag "Register" %>
<% end %>
<br/>

<% form_tag "/users", :method => "GET" do %>
  <label for="number">Filter by number:</label><br/>
  <input type="text" name="number" value="<%= params[:number] %>" />
  <%= submit_tag "Filter" %>
<% end %>
<br/>

<table class="index">
  <tr>
    <th>Number</th>
    <th>Region</th>
    <th>Gateway</th>
    <th>Locale</th>
    <th>Options</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=link_to user.number, edit_user_path(user) %></td>
    <td><%=h user.gateway.region.name rescue 'Unknown region' %></td>
    <td><%=h user.gateway.number rescue '?' %></td>
    <td><%=h user.locale %></td>
    <td>
      <%= link_to 'Remove', user, :confirm => 'Are you sure?', :method => :delete %> 
      <%= "| " + link_to('Activate', activate_user_path(user), :method => :post) unless user.active? %> 
      <%= "| " + link_to('Deactivate', deactivate_user_path(user), :method => :post) if user.active? %>
      <%= "| " + link_to('Confirm', user, :method => :confirm) unless user.number_confirmed? %>
    </td>        
  </tr>
<% end %>
<% if @users.blank? %>
  <tr><td>There are no items for this view</td></tr>
<% end %>
</table>

<%= will_paginate @users %>

