<h1>Editing area</h1>

<% form_for(@area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :country_code %><br />
    <%= f.text_field :country_code %>
  </p>
  <p>
    <%= f.label :area_code %><br />
    <%= f.text_field :area_code %>
  </p>
  <p>
    <%= f.label :region_id %><br />
    <%= f.text_field :region_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @area %> |
<%= link_to 'Back', areas_path %>
