  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :short_code %><br />
    <%= f.text_field :short_code %>
  </p>
  <p>
    <%= f.label :country_code %><br />
    <%= f.text_field :country_code %>
  </p>
  <p>
    <%= f.label :area_code %><br />
    <%= f.text_field :area_code %>
  </p>
  <p>
    <%= f.label :number_format %><br />
    <%= f.text_field :number_format %>
  </p>
  <p>
    <%= f.label :locale %><br />
    <%= f.text_field :locale %>
  </p>
  <p>
    <%= f.label :timezone_offset %><br />
    <%= f.text_field :timezone_offset %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.label :region_id %><br />
    <%= f.collection_select :region_id, Region.enabled.all, :id, :name  %>
  </p>
