<h1>Listing gateways</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Short code</th>
    <th>Country code</th>
    <th>Area code</th>
    <th>Active</th>
    <th>Region</th>
  </tr>

<% for gateway in @gateways %>
  <tr>
    <td><%=h gateway.number %></td>
    <td><%=h gateway.short_code %></td>
    <td><%=h gateway.country_code %></td>
    <td><%=h gateway.area_code %></td>
    <td><%=h gateway.active %></td>
    <td><%=h gateway.region_id %></td>
    <td><%= link_to 'Show', gateway %></td>
    <td><%= link_to 'Edit', edit_gateway_path(gateway) %></td>
    <td><%= link_to 'Destroy', gateway, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New gateway', new_gateway_path %>
