<h1>New keyword</h1>

<% form_for(@keyword) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :channel_id %><br />
    <%= f.collection_select :channel_id, Channel.all, :id, :title  %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', keywords_path %>
