<p>
  <b>Word:</b>
  <%=h @keyword.word %>
</p>

<p>
  <b>Description:</b>
  <%=h @keyword.description %>
</p>

<p>
  <b>Language:</b>
  <%=h @keyword.language %>
</p>

<p>
  <b>Channel:</b>
  <%=h @keyword.channel_id %>
</p>


<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
