<p>
  <b>Name:</b>
  <%=h @region.name %>
</p>

<p>
  <b>Country:</b>
  <%=h @region.country %>
</p>

<p>
  <b>Active:</b>
  <%=h @region.active %>
</p>


<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
