<h1>Editing command</h1>

<% form_for(@command) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @command %> |
<%= link_to 'Back', commands_path %>
